<div class="section footer">
    <div class="wrapper" data-aos="fade-in">
        <h2>Want to chat? Send me a note and I’ll get back to you as soon as possible.</h2>
        <div class="col">
            <div class="one">
                <p>Connell McCarthy</p>
                <p>Canada</p>
                <p>me@connellmccarthy.com</p>
            </div>
            <div class="two">
                <p>&copy; 2020</p>
                <p>Handcrafted with care &#129305;</p>
            </div>
        </div>
        <ul class="socials">
            <li><a href="{{ $.Site.Params.instagram }}" target="_blank">Instagram</a></li>
            <li><a href="{{ $.Site.Params.dribbble }}" target="_blank">Dribbble</a></li>
            <li><a href="{{ $.Site.Params.behance }}" target="_blank">Behance</a></li>
            <li><a href="{{ $.Site.Params.twitter }}" target="_blank">Twitter</a></li>
            <li><a href="{{ $.Site.Params.linkedin }}" target="_blank">Linkedin</a></li>
        </ul>
    </div>
</div>
<script src="/js/images.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>