<div class="section wrapper flex clients">
    <h2 class="full_wide" data-aos="fade-in">A few artists and brands I’ve worked with</h2>
    <div class="col">
        <ul class="clients_list" data-aos="fade-in">
            <li>Be Kind Rewind</li>
            <li>Gareth Emery</li>
            <li>Kasbo</li>
            <li>Koala Kontrol</li>
            <li>Legacy Eyewear</li>
        </ul>
        <ul class="clients_list" data-aos="fade-in">
            <li>Lokai</li>
            <li>Marshmello</li>
            <li>Monstercat</li>
            <li>Shopify</li>
            <li>Vicetone</li>
        </ul>
    </div>
</div>