<div class="hero">
    <div class="wrapper">
        <h1 data-aos="fade-in">I currently build products at Shopify, but outside of work I take <a href="{{ .Site.Params.instagram }}" target="_blank">photos</a>, make <a href="{{ .Site.Params.coveo }}" target="_blank">music</a>, and work on projects around the house.</h1>
        <div class="projects_box">
            <video id="hero_video" height="auto" width="auto" autoplay loop muted playsinline data-aos="fade-in">
                <source src="/img/showreel.mp4" type="video/mp4">
                    Your browser does not support this video.
            </video>
            <p class="controls">
                <a href="#" id="hero_control"><i class="fas fa-pause"></i></a>
            </p>
        </div>
    </div>
</div>

<script type="text/javascript">
    var video = document.getElementById('hero_video');
    var controls = document.getElementById('hero_control');
    var playing = true;
    $('#hero_control').click(function() {
        if (playing) {
            video.pause();
            controls.innerHTML = '<i class="fas fa-play"></i>';
            playing = false;
        } else {
            video.play();
            controls.innerHTML = '<i class="fas fa-pause"></i>';
            playing = true;
        }
        event.preventDefault();
    });
</script>