<div class="section wrapper about">
    <h2 class="wide" data-aos="fade-in">I call myself an all-encompassing creative because I love working on everything from design, photography, and motion design to development, interior design, and video editing. I have a passion for finding the blend between aesthetic and functionality.</h2>
    <figure class="image" data-scroll="mask">
        <div class="image__inner">
            <img alt="Photo of Connell sitting on a couch." src="/img/connell.jpg">
        </div>
    </figure>
</div>