{{ $currentPage := . }}
{{ $variant := "off-white" }}
{{ if .IsHome }}
    {{ $variant = "black" }}
{{ end }}

<div class="loading"></div>

<div class="nav {{ $variant }}">
    <div class="btn_nav_mobile" data-aos="fade-in"></div>
    <div class="wrapper flex" data-aos="fade-in">
        <p><a class="site_name local" href="/">{{ .Site.Title }}</a> &mdash; multi-faceted, Canadian creative.</p>
        <ul class="nav_menu">
            {{ range .Site.Menus.main }}
            <li class="nav_link {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}"><a {{ if hasPrefix .URL "https" }}rel="noopener"{{ else }}class="local"{{ end }} href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
            <div class="mobile_image"></div>
            <div class="mobile_info">
                <p>&copy; 2020</p>
                <p>me@connellmccarthy.com</p>
            </div>
        </ul>
    </div>
</div>