$black: #000000;
$white: #ffffff;
$off-white: #F3F5F5;
$grey: #706C6A;
$dark-grey: #303030;
$yellow-highlight: rgba(255, 246, 36, 0.8);

$mobile-break: 768px;
$tablet-break: 1100px;

$easing: cubic-bezier(0.76, 0, 0.24, 1);

$metro: "Metro Sans", Helvetica, sans-serif;

@font-face {
    font-family: "Metro Sans";
    src: url('/fonts/Metro-Sans-Bold.woff') format('woff'),
        url('/fonts/Metro-Sans-Bold.woff2') format('woff2');
    font-weight: 700;
}
@font-face {
    font-family: "Metro Sans";
    src: url('/fonts/Metro-Sans-Semi-Bold.woff') format('woff'),
        url('/fonts/Metro-Sans-Semi-Bold.woff2') format('woff2');
    font-weight: 600;
}
@font-face {
    font-family: "Metro Sans";
    src: url('/fonts/Metro-Sans-Medium.woff') format('woff'),
        url('/fonts/Metro-Sans-Medium.woff2') format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: "Metro Sans";
    src: url('/fonts/Metro-Sans-Regular.woff') format('woff'),
        url('/fonts/Metro-Sans-Regular.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: "Metro Sans";
    src: url('/fonts/Metro-Sans-Light.woff') format('woff'),
        url('/fonts/Metro-Sans-Light.woff2') format('woff2');
    font-weight: 300;
}

::selection {
    background: $yellow-highlight;
    color: $black;
}

* {
    box-sizing: border-box;
}

body {
    font-family: $metro;
    margin:0;
    padding:0;
    color: $black;

    &.white {
        background: $white;
    }
    &.off-white {
        background: $off-white;
    }
}

ul {
    list-style-type: none;
    padding: 0;
}

#confettiCanvas {
	position: fixed !important;
	pointer-events:none;
}

.wrapper {
    width: 85%;
    max-width: 1600px;
    margin:auto;

    &.flex {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: $mobile-break){
            display: block;
        }

        @media screen and (max-width: $tablet-break) {
            &.clients {
                display: block;
            }
        }
    }
}

h1 {
    font-size: 2.4em;
    line-height: 2em;
    width: 75%;
    font-weight: 100;

    a {
        font-weight: 700;
    }

    @media screen and (max-width: $mobile-break) {
        width: 100%;
        font-size: 2em;
        line-height: 1.5em;
    }
}

h2 {
    font-size: 1.8em;
    line-height: 2em;
    font-weight: 400;
    width: 40%;
    
    &.wide {
        width: 60%;

        @media screen and (max-width: $mobile-break) {
            width: 100%;
        }
    }

    &.full_wide {
        width: 100%;
    }

    @media screen and (max-width: $mobile-break) {
        font-size: 1.4em;
        line-height: 2em;
        width: 100%;
    }
}

a {
    color: inherit;
    text-decoration: none;
    position: relative;
    transition: color 0.5s $easing;

    i {
        position: relative;
        left: 5px;
        transition: left 0.5s $easing;
    }

    &:after {
        content: "";
        height: 1px;
        width: 0px;
        position: absolute;
        bottom: -5px;
        left: 0;
        background: $grey;
        transition: width 0.5s $easing;
    }

    &:hover {
        color: $grey;

        i {
            left: 10px;
        }

        &:after {
            width: 100%;
        }
    }
}

.notice {
    position: fixed;
    bottom: 50px;
    right: 50px;
    padding: 0 20px;
    background: $black;
    color: $white;
    display: flex;
    align-items: baseline;
    z-index: 99;

    p {
        position: relative;
        margin-right: 30px;

        &:after {
            content: "";
            height: 100%;
            width: 1px;
            background: #3D3D3D;
            position: absolute;
            bottom: 0;
            right: -15px;
        }
    }
    a {
        color: inherit;

        &:after {
            background: $white;
        }
    }

    @media screen and (max-width: $mobile-break) {
        bottom: 20px;
        right: auto;
        left: 50%;
        width: 85%;
        align-items: center;

        transform: translateX(-50%);
    }
}

.section {
    margin-top: 200px;

    @media screen and (max-width: $mobile-break) {
        margin-top: 90px;
    }
}

.image{
    overflow: hidden;
    margin: 15px 0;
    
    &__inner{
      overflow: hidden;

      img {
          width: 100%;
      }

      &.inline {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        img {
            width: calc(50% - 5px);
            margin: 5px 0;
        }
      }
    }

    figcaption {
        text-align: right;
        font-size: .8em;
        margin-top: 10px;
        color: $grey;

        a {
            text-decoration: underline;
        }
    }
}

.col {
    display: flex;
    align-items: flex-end;

    div {
        margin: 0 40px;

        @media screen and (max-width: $mobile-break) {
            margin: 0;
        }
    }

    div:first-child {
        margin: 0 40px 0 0;

        @media screen and (max-width: $mobile-break) {
            margin: 0 0 50px 0;
        }
    }

    @media screen and (max-width: $mobile-break) {
        display: block;
    }
}

.loading {
    position: fixed;
    height: 100%;
    width: 0;
    background: $off-white;
    top: 0;
    right: 0;
    z-index: 99;
    transition: width 0.8s $easing;
    box-shadow: 0 0 50px rgba(0,0,0,.1);

    &.black {
        background: $black;
    }

    &.active {
        left: 0;
        width: 100%;
    }
}

.nav {
    padding: 50px 0;
    width: 100%;

    @media screen and (max-width: $mobile-break) {
        padding: 20px 0;
    }

    a.site_name {
        &:after {
            width: 100%;
        }
        @media screen and (max-width: $mobile-break) {
            display: block;
            width: fit-content;
            margin-bottom: 15px;
        }
    }

    .nav_menu {

        li {
            display: inline-flex;
            margin: 0 15px;

            &.active {
                a {
                    font-weight: 700;
                }
            }
        }
        li:first-child {
            margin: 0 15px 0 0;
        }

        @media screen and (max-width: $mobile-break) {
            position: fixed;
            height: 100%;
            width: 100%;
            top: -16px;
            right: -100%;
            padding: 7.5%;
            z-index: 96;
            transition: right 0.8s $easing;
            
            &.active {
                right: 0;
                box-shadow: 0 0 50px rgba(0,0,0,.1);
            }

            li {
                display: block;
                margin: 20px 0;
                font-size: 1.8em;
                font-weight: 300;
            }

            li:first-child {
                margin: 100px 0 20px;
            }
        }

        .mobile_info {
            position: absolute;
            bottom: 20px;
            display: none;
            color: #707070;

            @media screen and (max-width: $mobile-break) {
                display: block;
            }

            p {
                margin: 5px;
            }
        }

        .mobile_image {
            background: url('/img/connell-menu.jpg');
            background-size: cover;
            background-position: center;
            height: 65%;
            width: 35%;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            display: none;

            @media screen and (max-width: $mobile-break) {
                display: block;
            }
        }
    }

    .btn_nav_mobile {
        height: 30px;
        width: 25px;
        position: absolute;
        top: 28px;
        right: 7.5%;
        z-index: 98;
        display: none;
        cursor: pointer;

        &:before {
            content: "";
            background: $black;
            height: 2px;
            width: 100%;
            position: absolute;
            top: 8px;
            left: 0;
            transition: transform 0.3s $easing;
        }
        &:after {
            content: "";
            background: $black;
            height: 2px;
            width: 100%;
            position: absolute;
            bottom: 8px;
            left: 0;
            transition: transform 0.3s $easing;
        }

        &.active {
            &:before {
                transform: translateY(6px) rotate(45deg);
            }
            &:after {
                transform: translateY(-6px) rotate(-45deg);
            }
        }

        @media screen and (max-width: $mobile-break) {
            display: block;
        }
    }

    @media screen and (max-width: $mobile-break) {
        p {
            position: relative;
            z-index: 97;
        }
    }

    &.black {
        background: $black;
        color: $white;

        @media screen and (max-width: $mobile-break) {
            .nav_menu {
                background: $black;
                .mobile_info {
                    color: #757575;
                }
            }
            .btn_nav_mobile {
                &:before {
                    background: $white;
                }
                &:after {
                    background: $white;
                }
            }
        }
    }
    &.white {
        background: $white;
        color: $black;

        @media screen and (max-width: $mobile-break) {
            .nav_menu {
                background: $white;
            }
        }
    }
    &.off-white {
        background: $off-white;
        color: $black;

        @media screen and (max-width: $mobile-break) {
            .nav_menu {
                background: $off-white;
            }
        }
    }
}

.hero {
    background: $black;
    color: $white;
    margin: 0;
    padding: 100px 0;

    .projects_box {
        height: fit-content;
        width: 100%;
        margin: 200px 0 50px 0;
        padding: 0;

        img {
            width: 100%;
            padding: 0;
        }

        video {
            border-radius: 4px;
            width: 100%;
        }

        .controls {
            font-size: 1em;
            text-align: right;

            i {
                padding: 20px;
                border-radius: 2px;
                left: 0;
            }

            a {
                &:after {
                    display: none;
                }

                &:hover {
                    i {
                        left: 0;
                    }
                }
            }
        }

        @media screen and (max-width: $mobile-break) {
            margin: 70px 0;
        }
    }

    @media screen and (max-width: $mobile-break) {
        padding: 20px 0;

        h1 {
            margin: 0;
        }
    }
}

.about {

    img {
        width: 100%;
        display: block;
        height: auto;
    }

    .image{
        width: 65%;
        margin-top: 200px;
        overflow: hidden;
        float: right;
        clear: both;
        margin-bottom: 200px;
        
        &__inner{
          overflow: hidden;
        }

        @media screen and (max-width: $tablet-break) {
            float: unset;
            width: 100%;
            margin: 90px 0;
        }
    }
}

.clients {

    .col {
        width: 100%;

        @media screen and (max-width: $mobile-break) {
            display: flex;
        }

        ul {
            width: 100%;
            color: $grey;
            font-size: 1.2em;

            @media screen and (max-width: $mobile-break) {
                font-size: 1em;
            }

            li {
                margin: 30px 0;

                @media screen and (max-width: $mobile-break) {
                    margin: 15px 0;
                }
            }

            &:first-child {
                padding-left: 100px;

                @media screen and (max-width: $tablet-break) {
                    padding-left: 0;
                }
            }

            &:last-child {
                @media screen and (max-width: $mobile-break) {
                    padding-left: 30px;
                }
            }
        }
    }
}

.articles_heading {
    display: flex;
    align-items: center;

    h2 {
        width: 50%;
    }

    @media screen and (max-width: $tablet-break) {
        justify-content: space-between;
    }

    @media screen and (max-width: $mobile-break) {
        display: block;

        h2 {
            width: 100%;
        }
    }
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0 0 0;

    .article {
        width: calc(50% - 10px);
        margin-bottom: 50px;

        .thumbnail {
            background-size: cover;
            background-position: center;
            height: fit-content;

            img {
                width: 100%;
            }
        }

        h3 {
            font-weight: 500;
            font-size: 1.3em;
            margin: 30px 0 20px 0;
        }

        p {
            color: $grey;
            font-size: 1em;
            line-height: 2em;
            margin: 10px 0 20px 0;
        }

        @media screen and (max-width: $mobile-break) {
            width: 100%;
        }
    }

    @media screen and (max-width: $mobile-break) {
        display: block;
    }
}

.footer {
    padding: 0 0 5% 0;

    p {
        font-weight: 400;
        color: $grey;
    }

    .col {
        margin-top: 35px;
    }

    .socials {
        margin: 50px 0 0 0;

        li {
            display: inline-flex;
            margin: 0 15px;

            @media screen and (max-width: $mobile-break) {
                margin: 0 30px 30px 0;
            }
        }
        li:first-child {
            margin: 0 15px 0 0;

            @media screen and (max-width: $mobile-break) {
                margin: 0 30px 30px 0;
            }
        }
    }
}

.list_heading {

    h2 {
        text-align: center;
        margin: auto;
    }
    p {
        width: 60%;
        line-height: 1.8em;
        color: $grey;

        @media screen and(max-width: $mobile-break) {
            width: 100%;
        }
    }
}

.pinterest-embed {
    margin: auto;
    text-align: center;
}

.article-content {
    h1 {
        width: 65%;
        margin: 100px auto;
        font-size: 2.3em;
        font-weight: 500;

        @media screen and (max-width: $tablet-break) {
            width: 90%;
        }

        @media screen and (max-width: $mobile-break) {
            width: 100%;
            margin: 50px auto;
            font-size: 1.8em;
        }
    }
    p {
        position: relative;
        width: 50%;
        margin: 50px auto;
        font-weight: 400;
        font-size: 1.2em;
        line-height: 2.5em;
        color: $dark-grey;

        @media screen and (max-width: $tablet-break) {
            width: 70%;
        }

        @media screen and (max-width: $mobile-break) {
            width: 100%;
            font-size: 1em;
        }

        &:first-of-type {
            &:after {
                content: url('img/arrow.svg');
                position: absolute;
                top: 0;
                left: -70px;
                height: 30px;
                width: 30px;
                color: $dark-grey;
            }
        }
    }

    a {
        background: $yellow-highlight;
    }
}

.newsletter {
    background: $white;
    width: 100%;
    padding: 5%;
    box-shadow: 0 40px 15px -30px rgba(155,155,155,.1);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: $tablet-break) {
        display: block;
    }

    &__heading {
        width: 40%;
        padding-right: 50px;
        
        h2 {
            width: 100%;
        }
        p {
            width: 100%;
            color: $grey;
            line-height: 2em;
        }

        @media screen and (max-width: $tablet-break) {
            width: 100%;
            padding-right: 0;
            margin: auto;
            text-align: center;

            h2 {
                margin: 5px auto;
            }
            p {
                margin: 5px auto;
            }
        }

        @media screen and (max-width: $mobile-break) {
            text-align: left;
        }
    }

    &__info {
        transition: .5s $easing;
        width: 50%;
        margin-bottom: 20px;

        @media screen and (max-width: $tablet-break) {
            width: 100%;
            margin-bottom: 10px;
        }
    }

    form {
        display: flex;
        align-items: center;
        justify-content: left;
        margin: 75px 0 0;
        flex-wrap: wrap;

        .input-group {
            position: relative;
            min-width: 50%;
            width: calc(100% - 190px);

            label {
                position: absolute;
                top: -25px;
                left: 0px;
                font-size: .9em;
                color: $grey;
            }

            @media screen and (max-width: $mobile-break) {
                width: 100%;
            }
        }

        input[type="email"] {
            background: lighten($grey, 53);
            border: none;
            font-size: 1em;
            padding: 25px 30px;
            width: 100%;

            &:disabled {
                color: lighten($grey, 20);
            }

            @media screen and (max-width: $mobile-break) {
                padding: 25px 15px;
            }
        }

        button {
            background: transparent;
            color: $black;
            border: 2px solid $black;
            font-size: 1em;
            cursor: pointer;
            padding: 22px 40px;
            font-weight: 500;
            font-family: $metro;
            position: relative;
            min-width: 180px;
            transition: all 0.25s ease;

            i {
                margin-right: 5px;
            }

            &:hover {
                background: $black;
                color: $white;
            }

            @media screen and (max-width: $mobile-break) {
                width: 100%;
                margin-top: 5px;
            }
        }
    }

    &__info {
        &.working {

            .button {
                cursor: unset;
                min-width: unset;
                width: 50px;
                height: 50px;
                padding: 0;
                border-radius: 100px;
                border-color: lighten($grey, 50);
                border-width: 3px;
                font-size: 0;
                border-left-color: $black;
                animation: rotating 1s 0.25s linear infinite;
                margin-left: 40px;

                @media screen and (max-width: $mobile-break) {
                    margin: 20px auto 0;
                }

                @keyframes rotating {
                    from {
                        transform: rotate(0deg);
                    }
                    to {
                        transform: rotate(360deg);
                    }
                }

                &:hover {
                    background: transparent;
                }

                &__text {
                    display: none;
                }
            }
        }

        &.success {
            margin-bottom: 70px;

            form {
                justify-content: center;
            }

            .button {
                cursor: unset;
                min-width: unset;
                width: fit-content;
                border-radius: 100px;
                border-color: $black;
                background: transparent;
                color: $black;
                border-width: 2px;
                padding: 20px 24px;
                font-size: 1.8em;

                i {
                    margin-right: 0;
                }

                &:hover {
                    background: transparent;
                }

                &:after {
                    content: attr(data-confirmation);
                    position: absolute;
                    width: 100px;
                    bottom: -40px;
                    left: 50%;
                    color: $grey;
                    font-size: .6em;
                    transform: translateX(-50%);
                }
            }

            .input-group {
                display: none;
            }
        }
    }
}
