$black: #000000;
$white: #ffffff;
$off-white: #F3F5F5;
$grey: #706C6A;

$mobile-break: 768px;
$tablet-break: 1100px;

@font-face {
    font-family: "Metro Sans";
    src: url('/fonts/Metro-Sans-Bold.woff') format('woff'),
        url('/fonts/Metro-Sans-Bold.woff2') format('woff2');
    font-weight: 700;
}
@font-face {
    font-family: "Metro Sans";
    src: url('/fonts/Metro-Sans-Semi-Bold.woff') format('woff'),
        url('/fonts/Metro-Sans-Semi-Bold.woff2') format('woff2');
    font-weight: 600;
}
@font-face {
    font-family: "Metro Sans";
    src: url('/fonts/Metro-Sans-Medium.woff') format('woff'),
        url('/fonts/Metro-Sans-Medium.woff2') format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: "Metro Sans";
    src: url('/fonts/Metro-Sans-Regular.woff') format('woff'),
        url('/fonts/Metro-Sans-Regular.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: "Metro Sans";
    src: url('/fonts/Metro-Sans-Light.woff') format('woff'),
        url('/fonts/Metro-Sans-Light.woff2') format('woff2');
    font-weight: 300;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Metro Sans", Helvetica, sans-serif;
    margin:0;
    padding:0;
    color: $black;

    &.white {
        background: $white;
    }
    &.off-white {
        background: $off-white;
    }
}

ul {
    list-style-type: none;
    padding: 0;
}

.wrapper {
    width: 85%;
    max-width: 1600px;
    margin:auto;

    &.flex {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: $mobile-break){
            display: block;
        }

        @media screen and (max-width: $tablet-break) {
            &.clients {
                display: block;
            }
        }
    }
}

h1 {
    font-size: 2.4em;
    line-height: 2em;
    width: 75%;
    font-weight: 100;

    a {
        font-weight: 700;
    }

    @media screen and (max-width: $mobile-break) {
        width: 100%;
        font-size: 2em;
        line-height: 1.5em;
    }
}

h2 {
    font-size: 1.8em;
    line-height: 2em;
    font-weight: 400;
    width: 40%;
    
    &.wide {
        width: 60%;

        @media screen and (max-width: $mobile-break) {
            width: 100%;
        }
    }

    &.full_wide {
        width: 100%;
    }

    @media screen and (max-width: $mobile-break) {
        font-size: 1.4em;
        line-height: 2em;
        width: 100%;
    }
}

a {
    color: inherit;
    text-decoration: none;
    position: relative;
    transition: color 0.5s cubic-bezier(0.76, 0, 0.24, 1);

    i {
        position: relative;
        left: 5px;
        transition: left 0.5s cubic-bezier(0.76, 0, 0.24, 1);
    }

    &:after {
        content: "";
        height: 1px;
        width: 0px;
        position: absolute;
        bottom: -5px;
        left: 0;
        background: $grey;
        transition: width 0.5s cubic-bezier(0.76, 0, 0.24, 1);
    }

    &:hover {
        color: $grey;

        i {
            left: 10px;
        }

        &:after {
            width: 100%;
        }
    }
}

.notice {
    position: fixed;
    bottom: 50px;
    right: 50px;
    padding: 0 20px;
    background: $black;
    color: $white;
    display: flex;
    align-items: baseline;
    z-index: 99;

    p {
        position: relative;
        margin-right: 30px;

        &:after {
            content: "";
            height: 100%;
            width: 1px;
            background: #3D3D3D;
            position: absolute;
            bottom: 0;
            right: -15px;
        }
    }
    a {
        color: inherit;

        &:after {
            background: $white;
        }
    }

    @media screen and (max-width: $mobile-break) {
        bottom: 20px;
        right: auto;
        left: 50%;
        width: 85%;
        align-items: center;

        transform: translateX(-50%);
    }
}

.section {
    margin-top: 200px;

    @media screen and (max-width: $mobile-break) {
        margin-top: 90px;
    }
}

.col {
    display: flex;
    align-items: flex-end;

    div {
        margin: 0 40px;

        @media screen and (max-width: $mobile-break) {
            margin: 0;
        }
    }

    div:first-child {
        margin: 0 40px 0 0;

        @media screen and (max-width: $mobile-break) {
            margin: 0 0 50px 0;
        }
    }

    @media screen and (max-width: $mobile-break) {
        display: block;
    }
}

.loading {
    position: fixed;
    height: 100%;
    width: 0;
    background: $off-white;
    top: 0;
    right: 0;
    z-index: 99;
    transition: width 0.8s cubic-bezier(0.87, 0, 0.13, 1);

    &.black {
        background: $black;
    }

    &.active {
        left: 0;
        width: 100%;
    }
}

.nav {
    padding: 50px 0;
    width: 100%;

    @media screen and (max-width: $mobile-break) {
        padding: 20px 0;
    }

    a.site_name {
        &:after {
            width: 100%;
        }
        @media screen and (max-width: $mobile-break) {
            display: block;
            width: fit-content;
            margin-bottom: 15px;
        }
    }

    .nav_menu {

        li {
            display: inline-flex;
            margin: 0 15px;

            &.active {
                a {
                    font-weight: 700;
                }
            }
        }
        li:first-child {
            margin: 0 15px 0 0;
        }

        @media screen and (max-width: $mobile-break) {
            margin-top: 40px;
            padding: 30px 0;
            border-top: 1px solid darken($off-white, 75%);
            border-bottom: 1px solid darken($off-white, 75%);
        }
    }

    &.black {
        background: $black;
        color: $white;
    }
    &.white {
        background: $white;
        color: $black;
    }
    &.off-white {
        background: $off-white;
        color: $black;
    }
}

.hero {
    background: $black;
    color: $white;
    margin: 0;
    padding: 100px 0;

    .projects_box {
        height: fit-content;
        width: 100%;
        margin: 200px 0 50px 0;
        padding: 0;

        img {
            width: 100%;
            padding: 0;
        }

        video {
            border-radius: 4px;
            width: 100%;
        }

        .controls {
            font-size: 1em;
            text-align: right;

            i {
                padding: 20px;
                border-radius: 2px;
                left: 0;
            }

            a {
                &:after {
                    display: none;
                }

                &:hover {
                    i {
                        left: 0;
                    }
                }
            }
        }

        @media screen and (max-width: $mobile-break) {
            margin: 70px 0;
        }
    }

    @media screen and (max-width: $mobile-break) {
        padding: 20px 0;

        h1 {
            margin: 0;
        }
    }
}

.about {

    img {
        width: 100%;
        display: block;
        height: auto;
    }

    .image{
        width: 65%;
        margin-top: 200px;
        overflow: hidden;
        float: right;
        clear: both;
        margin-bottom: 200px;
        
        &__inner{
          overflow: hidden;
        }

        @media screen and (max-width: $tablet-break) {
            float: unset;
            width: 100%;
            margin: 90px 0;
        }
    }
}

.clients {

    .col {
        width: 100%;

        @media screen and (max-width: $mobile-break) {
            display: flex;
        }

        ul {
            width: 100%;
            color: $grey;
            font-size: 1.2em;

            @media screen and (max-width: $mobile-break) {
                font-size: 1em;
            }

            li {
                margin: 30px 0;

                @media screen and (max-width: $mobile-break) {
                    margin: 15px 0;
                }
            }

            &:first-child {
                padding-left: 100px;

                @media screen and (max-width: $tablet-break) {
                    padding-left: 0;
                }
            }

            &:last-child {
                @media screen and (max-width: $mobile-break) {
                    padding-left: 30px;
                }
            }
        }
    }
}

.articles_heading {
    display: flex;
    align-items: center;

    h2 {
        width: 50%;
    }

    @media screen and (max-width: $tablet-break) {
        justify-content: space-between;
    }

    @media screen and (max-width: $mobile-break) {
        display: block;

        h2 {
            width: 100%;
        }
    }
}

.articles {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 0 0;

    .article {
        width: calc(50% - 10px);

        .thumbnail {
            background-size: cover;
            background-position: center;
            height: fit-content;

            img {
                width: 100%;
            }
        }

        h3 {
            font-weight: 500;
            font-size: 1.3em;
            margin: 30px 0 20px 0;
        }

        p {
            color: $grey;
            font-size: 1em;
            line-height: 2em;
            margin: 10px 0 20px 0;
        }

        @media screen and (max-width: $mobile-break) {
            width: 100%;
        }
    }

    @media screen and (max-width: $mobile-break) {
        display: block;
    }
}

.footer {
    padding: 0 0 5% 0;

    p {
        font-weight: 400;
        color: $grey;
    }

    .col {
        margin-top: 35px;
    }

    .socials {
        margin: 50px 0 0 0;

        li {
            display: inline-flex;
            margin: 0 15px;

            @media screen and (max-width: $mobile-break) {
                margin: 0 30px 30px 0;
            }
        }
        li:first-child {
            margin: 0 15px 0 0;

            @media screen and (max-width: $mobile-break) {
                margin: 0 30px 30px 0;
            }
        }
    }
}
