<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body class="off-white">
        {{ if .Site.Params.cookies }}
            {{- partial "cookies.html" . -}}
        {{ end }}

        {{- partial "navigation.html" . -}}

        <div class="wrapper">
            <div class="list_heading" data-aos="fade-in">
                {{ .Content }}
            </div>
            <div class="articles">
                {{ range .Pages }}
                    <div class="article" data-aos="fade-in">
                        {{ if $original := .Resources.GetMatch "thumbnail" }}
                            {{ $thumb := $original.Fill "600x300" }}
                            <div class="thumbnail">
                                <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}">
                            </div>
                        {{ end }}
                        <h3>{{ .Title }}</h3>
                        <p>{{ .Summary }}...</p>
                        <a class="local" href="{{ .Permalink }}">Read article <i class="fal fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                {{ end }}
            </div>
        </div>

        {{- partial "newsletter_form.html" (dict "cta_heading" "Looking for more articles?" "slug" .Title ) -}}

        {{- partial "footer.html" . -}}
    </body>
</html>
