<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    {{ template "_internal/twitter_cards.html" . }}
    <body class="off-white">
        {{ if .Site.Params.cookies }}
            {{- partial "cookies.html" . -}}
        {{ end }}

        {{- partial "navigation.html" . -}}

        <div class="wrapper article-content" data-aos="fade-in">
            {{ .Content | replaceRE "<p>" "<p data-aos=\"fade-in\">" | safeHTML }}
        </div>

        <div class="section wrapper">
            <div class="newsletter">
                <h2>{{ .Params.cta_heading }}</h2>
                <p>I promise I won’t spam your inbox, and you’ll get notified whenever I publish a new article.</p>
                <form>
                    <input type="email" placeholder="Email address">
                    <input type="submit">
                </form>
            </div>
        </div>

        {{- partial "footer.html" . -}}
    </body>
</html>
